<web-app>
<servlet>
<servlet-name>Appform</servlet-name>
<servlet-class>Appform</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Appform</servlet-name>
<url-pattern>/Appform</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>gd</servlet-name>
<servlet-class>GetData</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>gd</servlet-name>
<url-pattern>/GetData</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ud</servlet-name>
<servlet-class>UpdateDataServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ud</servlet-name>
<url-pattern>/UpdateDataServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>del</servlet-name>
<servlet-class>DeleteRow</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>del</servlet-name>
<url-pattern>/DeleteRow</url-pattern>
</servlet-mapping>
</web-app>
